<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/services">Services</a></li>
    <li class="breadcrumb-item"><a href="/sessions?sid={{serviceSid}}">Sessions</a></li>
    <li class="breadcrumb-item active">Participants</li>
  </ol>
</nav>
<h3>Participants</h3>
<ul class="list-group">
    {{#each participants}}
    <li class="mb-2 rounded list-group-item">
        
        <span><a href="/interactions?sessionSid={{sessionSid}}&serviceSid={{serviceSid}}&participantName={{this.friendlyName}}&participantSid={{this.sid}}&participantPhone={{this.identifier}}&participantProxyNum={{this.proxyIdentifier}}">{{this.friendlyName}}</a>  ({{this.sid}})</span><br>
        <span class="ml ml-2">Real # ({{this.identifier}})</span>
        <span class="ml ml-2">Proxy # ({{this.proxyIdentifier}})</span>

        <button data-participantSid="{{this.sid}}" data-serviceSid="{{serviceSid}}" data-sessionSid="{{sessionSid}}" id="del{{@index}}" class="btn btn-danger float-right">Delete</button>
        {{!-- <button class="btn btn-success float-right mr mr-4">Dial</button> --}}
    </li>
    {{/each}}
</ul>
<br>

<!-- Button HTML (to Trigger Modal) -->
<a href="#modalParticipant" role="button" class="mr-4 btn btn-lg btn-primary" data-toggle="modal">Quick Create</a>
{{!-- <a href="#modalParticipantExisting" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Add Existing</a> --}}

<!-- Modal HTML -->

    <div id="modalParticipant" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Participant</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="#" class="needs-validation" novalidate="">
                    <div class="modal-body">
                        <label for="friendlyName" class="mr-2">Friendly Name:</label>
                            <input class="form-control" id="friendlyName" type="text" required></input>
                            <div class="invalid-feedback">
                                Please provide a Friendly Name.
                            </div>
                        <label for="identifier" class="mr-2">Participant Phone #:</label>
                            <input class="form-control" id="identifier"  type="tel" pattern="^\+?[1-9]\d{4,14}$" required></input>
                            <div class="invalid-feedback">
                                Needs to be a valid E.164 Phone Number.
                            </div>
                        <label for="proxyIdentifier" class="mr-2">Assigned Proxy # <i>(optional)</i>:</label>
                            <input class="form-control" id="proxyIdentifier"  type="tel"></input>
                            <div class="invalid-feedback">
                                Needs to be a valid E.164 Phone Number.
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button data-serviceSid="{{serviceSid}}" data-sessionSid="{{sessionSid}}" id="createParticipant" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <div id="modal-errorCreate" class="mx-4 alert alert-danger" role="alert" style="display:none">
                    <span id="errorMsgCreate"></span>
                </div>
                
            </div>
        </div>
    </div>
<div id="modalParticipantExisting" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Existing Participant</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span class="mr-2">Participant SID:</span><input class="form-control" id="participantSID" type="text" required></input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button data-serviceSid="{{serviceSid}}" data-sessionSid="{{sessionSid}}" id="addExistingParticipant" type="button" class="btn btn-primary">Submit</button>
            </div>
            <div id="modal-errorAdd" class="mx-4 alert alert-danger" role="alert" style="display:none">
                <span id="errorMsgAdd"></span>
            </div>
        </div>
    </div>
</div>
<br>

<div id="errorDiv" class="mx-4 alert alert-danger" role="alert" style="display:none">
    <span id="errorMsgMain"></span>
</div>

<script>

    $(document).ready(function(){
        $('#identifier, #proxyIdentifier').inputmask({
            "regex": "^\\+?[1-9]\\d{4,14}$"
                             {{!-- "regex": "\\+?(9[976]\\d|8[987530]\\d|6[987]\\d|5[90]\\d|42\\d|3[875]\\d|2[98654321]\\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)?\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*(\\d{1,2})$" --}}
                               {{!-- "regex": "^(?:(?:\\+?1\\s*(?:[.-]\\s*)?)?(?:(\\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\\s*(?:[.-]\\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\\s*(?:[.-]\\s*)?([0-9]{4})$" --}}
        
                                {{!-- "regex": "^(?:(?:\\+?1\\s*(?:[.-]\\s*)?)?(?:\\(\\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\\s*\\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\\s*(?:[.-]\\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\\s*(?:[.-]\\s*)?([0-9]{4})(?:\\s*(?:#|x\\.?|ext\\.?|extension)\\s*(\\d+))?$" --}}
        }); //specifying options
    });
    let i = 0;
    let id = `del${i}`;
    while(document.getElementById(id) !== null)
    {
        let element = document.getElementById(id);
        element.addEventListener('click', () => {
            $.ajax({
                url: `/participantDelete?serviceSid=${element.attributes["data-serviceSid"].value}&sessionSid=${element.attributes["data-sessionSid"].value}&participantSid=${element.attributes["data-participantSid"].value}`,
                type: 'POST',
            }).done((data) => {
                location.reload(); //Implement partial refresh for production code, but for ease of demo, just reload the page
                //setTimeout(location.reload.bind(location), 8000);
            }).fail((xhr, status, error) => {
                $('#errorDiv').show();
                $('#errorMsgMain').text(xhr.responseText);
            });
        });
        i++;
        id = `del${i}`;
    }

    $('.needs-validation').submit((event) => {
        if ($('.needs-validation')[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            $('.needs-validation').addClass('was-validated');
        }
        else{
            $('.needs-validation').addClass('was-validated');
            event.preventDefault(); //This is absolutly necessary to prevent Promise Rejection warnings
            let serviceSid = event.currentTarget.createParticipant.attributes.getNamedItem("data-serviceSid").value;
            let sessionSid = event.currentTarget.createParticipant.attributes.getNamedItem("data-sessionSid").value;
            let friendlyname = event.currentTarget.friendlyName.value;
            let identifier = event.currentTarget.identifier.value.replace(/\D/g,'');
            let proxyIdentifier = event.currentTarget.proxyIdentifier.value.replace(/\D/g,'');
            $.ajax({
                url: `/createParticipant?proxyIdentifier=${proxyIdentifier}&serviceSid=${serviceSid}&sessionSid=${sessionSid}&friendlyName=${friendlyname}&identifier=${identifier}`,
                type: 'POST',
            }).done((data) => {
                location.reload(); 
            }).fail((xhr, status, error) => {
                $('#modal-errorCreate').show();
                $('#errorMsgCreate').text(xhr.responseText);
            }).always((always) => {
                console.log('always');
            })          
        }

    });

    let addExistPart = document.getElementById('addExistingParticipant');
    let partSID = document.getElementById('participantSID');
    addExistPart.addEventListener('click', () => {
        $.ajax({
            url: `/addExistingParticipant?serviceSid=${addExistPart.attributes["data-serviceSid"].value}&sessionSid=${addExistPart.attributes["data-sessionSid"].value}&participantSid=${partSID.value}`,
            type: 'POST',
        }).done((data) => {
            location.reload(); //Implement partial refresh for production code, but for ease of demo, just reload the page
            //setTimeout(location.reload.bind(location), 8000);
        }).fail((xhr, status, error) => {
            $('#modal-errorAdd').show();
            $('#errorMsgAdd').text(xhr.responseText);
        });
    });
</script>


