
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/services">Services</a></li>
    <li class="breadcrumb-item active">Sessions</li>
  </ol>
</nav>
<h3>Sessions</h3>
<div id="sessionrows">
    <ul class="list-group">
        {{#each sessions}}
            {{#ifCond this.status "==" "closed"}}
            <li class="mb-2 border border-warning rounded list-group-item">
                <a href="/participants?sessionSid={{this.sid}}&serviceSid={{serviceSid}}">{{this.uniqueName}}</a>
                <button data-sessionSid="{{this.sid}}" data-serviceSid="{{serviceSid}}" id="delSession{{@index}}" class="btn btn-danger float-right">Delete</button>
                <button data-sessionUpdate="closed" data-sessionSid="{{this.sid}}" data-serviceSid="{{serviceSid}}" id="updateSession{{@index}}" class="mr-4 btn btn-success float-right">Open</button>
            {{else}} 
            <li class="mb-2 border border-success rounded list-group-item">
                <a href="/participants?sessionSid={{this.sid}}&serviceSid={{serviceSid}}">{{this.uniqueName}}</a>
                <button data-sessionSid="{{this.sid}}" data-serviceSid="{{serviceSid}}" id="delSession{{@index}}" class="btn btn-danger float-right">Delete</button>
                <button data-sessionUpdate="notClosed" data-sessionSid="{{this.sid}}" data-serviceSid="{{serviceSid}}" id="updateSession{{@index}}" class="mr-4 btn btn-warning float-right">Close</button>
            {{/ifCond}}
        </li>
        {{/each}}
    </ul>
</div>
<br>
<!-- Button HTML (to Trigger Modal) -->
<a href="#modalSession" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Quick Create</a>

<!-- Modal HTML -->
<div id="modalSession" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Session</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="#" class="sessionValidation" novalidate="">
                <div class="modal-body">
                    <label for="uniqueName" class="mr-2">Name:</label>
                        <input class="form-control" id="uniqueName" type="text" required></input>
                        <div class="invalid-feedback">
                            Please provide a Name.
                        </div>
                    <label for="mode" class="mr-2 mt-2">Channel Mode:</label>
                        <select class="form-control" id="mode" required>
                            <option value="voice-and-message">Voice and SMS</option>
                            <option value="voice-only">Voice</option>
                            <option value="message-only">SMS</option>
                        </select>
                    <label for="ttl" class="mr-2 mt-2">Time to Live(in Seconds) <i>(optional)</i>:</label>
                        <input class="form-control" id="ttl"  type="text" pattern="[0-9]{1,6}"></input>
                        <div class="invalid-feedback">
                            Please provide a Time to Live.
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button data-serviceSid="{{serviceSid}}" id="createSession" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div id="modal-error" class="mx-4 alert alert-danger" role="alert" style="display:none">
                <span id="errorMsgModal"></span>
            </div>
        </div>
    </div>
</div>


<!-- Modal HTML -->
<div id="viewAssigned" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assigned Participants</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<h3>Phone Numbers</h3>
<ul class="list-group">
    {{#each phoneAndParticipant}}
       <span hidden id="countPart{{@index}}"></span>
        {{#ifCond this.InUse ">" 0}}
            {{#ifCond this.IsReserved "==" true}}
            <li class="mb-2 border border-warning rounded list-group-item">
                <span>{{this.ProxyPNNumber}} <i>(In Use and Reserved)</i></span>
                <button data-serviceSid="{{../serviceSid}}" data-isReserved="{{this.IsReserved}}" data-phoneSid="{{this.PNSid}}" id="reserve{{@index}}" class="btn btn-danger float-right">UnReserve</button>
                {{#ifCond this.ParticipantVals.length ">" 1}}
                    <a href="#viewAssigned" id="{{@index}}" role="button" class="mr-4 btn btn-primary float-right" data-toggle="modal" >View Assigned</a>
                    {{#each this.ParticipantVals}}
                        <span hidden id="hidden{{@../index}}{{@index}}" data-sessionName="{{../SessionName}}" data-participantSid="{{this.ParticipantSid}}" data-participantRealNumber="{{this.ParticipantRealNumber}}" data-participantFriendlyName="{{this.ParticipantFriendlyName}}"></span>
                    {{/each}}
                {{/ifCond}}
            </li>
            {{else}}
            <li class="mb-2 border border-warning rounded list-group-item">
                <span>{{this.ProxyPNNumber}} <i>(In Use)</i></span>
                <button data-serviceSid="{{../serviceSid}}" data-isReserved="{{this.IsReserved}}" data-phoneSid="{{this.PNSid}}" id="reserve{{@index}}" class="btn btn-success float-right">Reserve</button>
                {{#ifCond this.ParticipantVals.length ">" 1}}
                    <a href="#viewAssigned" id="{{@index}}" role="button" class="mr-4 btn btn-primary float-right" data-toggle="modal" >View Assigned</a>
                    {{#each this.ParticipantVals}}
                        <span hidden id="hidden{{@../index}}{{@index}}" data-sessionName="{{../SessionName}}" data-participantSid="{{this.ParticipantSid}}" data-participantRealNumber="{{this.ParticipantRealNumber}}" data-participantFriendlyName="{{this.ParticipantFriendlyName}}"></span>
                    {{/each}}
                {{/ifCond}}
            </li>            
            {{/ifCond}}
        {{else}}
            {{#ifCond this.IsReserved "==" true}}
            <li class="mb-2 border border-success rounded list-group-item">
                <span>{{this.ProxyPNNumber}} <i>(Reserved)</i></span>
                <button data-serviceSid="{{../serviceSid}}" data-isReserved="{{this.IsReserved}}" data-phoneSid="{{this.PNSid}}" id="reserve{{@index}}" class="btn btn-danger float-right">UnReserve</button>
            </li>
            {{else}}
            <li class="mb-2 border border-success rounded list-group-item">
                <span>{{this.ProxyPNNumber}}</span>
                <button data-serviceSid="{{../serviceSid}}" data-isReserved="{{this.IsReserved}}" data-phoneSid="{{this.PNSid}}" id="reserve{{@index}}" class="btn btn-success float-right">Reserve</button>
            </li>
            {{/ifCond}}
        {{/ifCond}}    
    {{/each}}
</ul>
<br>
<a target="_blank" class="btn btn-lg btn-primary" href="https://www.twilio.com/console/proxy/services/{{serviceSid}}/proxy_numbers" role="button">Add Phone Numbers</a></button>
<br>
<div id="errorDiv" class="mx-4 alert alert-danger" role="alert" style="display:none">
    <span id="errorMsgMain"></span>
</div>

<script>
    $(document).ready(function(){
        $('#ttl').inputmask({
            "regex": "[0-9]{1,6}"                        
        }); //specifying options
    }); 
    $('#viewAssigned').on('show.bs.modal', function(e) {
        let id = $(e.relatedTarget)[0].id;
        $(`[id^=hidden${id}]`).each((index, element) => {
            if(element.dataset.participantsid != "")
            {
                let sessionName = element.dataset.sessionname;
                let psid = element.dataset.participantsid;
                let pname = element.dataset.participantfriendlyname;
                let pnum = element.dataset.participantrealnumber;
                $('.modal-body').append(`<p><a href="#" class="popover-test" title="${pname}" data-content="Participant #: ${pnum}\nSessionName: ${sessionName}" id="sid">${psid}</a></p>`);
                $('.modal-body #sid').popover({trigger: "hover"});
            }

        });
    });
    $('#viewAssigned').on('hide.bs.modal', function(e) {
        $('.modal-body').empty();
    });

    $(`[id^=reserve]`).click((event) => {
        let phoneSid = event.currentTarget.attributes.getNamedItem("data-phoneSid").value;
        let serviceSid = event.currentTarget.attributes.getNamedItem("data-serviceSid").value;
        let isReserved = event.currentTarget.attributes.getNamedItem("data-isReserved").value;

        $.ajax({
            url: `/reservePhone?serviceSid=${serviceSid}&phoneSid=${phoneSid}&isReserved=${isReserved}`,
            type: 'POST',
        }).done((data) => {
            location.reload(); //Implement partial refresh for production code, but for ease of demo, just reload the page
            //setTimeout(location.reload.bind(location), 8000);
        }).fail((xhr, status, error) => {
            $('#errorDiv').show();
            $('#errorMsgMain').text(xhr.responseText);
        });
    });

    $(`[id^=delSession]`).click((event) => {
        let sessionSid = event.currentTarget.attributes.getNamedItem("data-sessionSid").value;
        let serviceSid = event.currentTarget.attributes.getNamedItem("data-serviceSid").value;

        $.ajax({
            url: `/sessionDelete?serviceSid=${serviceSid}&sessionSid=${sessionSid}`,
            type: 'POST',
        }).done((data) => {
            location.reload(); //Implement partial refresh for production code, but for ease of demo, just reload the page
            //setTimeout(location.reload.bind(location), 8000);
        }).fail((xhr, status, error) => {
            $('#errorDiv').show();
            $('#errorMsgMain').text(xhr.responseText);
        });
    });

    $(`[id^=updateSession]`).click((event) => {
        let sessionSid = event.currentTarget.attributes.getNamedItem("data-sessionSid").value;
        let serviceSid = event.currentTarget.attributes.getNamedItem("data-serviceSid").value;
        let updateStatus = event.currentTarget.attributes.getNamedItem("data-sessionUpdate").value;

        $.ajax({
            url: `/sessionUpdate?serviceSid=${serviceSid}&sessionSid=${sessionSid}&updateStatus=${updateStatus}`,
            type: 'POST',
        }).done((data) => {
            location.reload(); //Implement partial refresh for production code, but for ease of demo, just reload the page
            //setTimeout(location.reload.bind(location), 8000);
        }).fail((xhr, status, error) => {
            $('#errorDiv').show();
            $('#errorMsgMain').text(xhr.responseText);
        });
    });

    $('.sessionValidation').submit((event) => {
        if ($('.sessionValidation')[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            $('.sessionValidation').addClass('was-validated');
        }
        else{
            $('.sessionValidation').addClass('was-validated');
            event.preventDefault(); //This is absolutly necessary to prevent Promise Rejection warnings
            let serviceSid = event.currentTarget.createSession.attributes.getNamedItem("data-serviceSid").value;
            let uniqueName = event.currentTarget.uniqueName.value;
            let ttl = event.currentTarget.ttl.value
            let mode = event.currentTarget.mode.value;
            $.ajax({
                url: `/createSession?serviceSid=${serviceSid}&uniqueName=${uniqueName}&ttl=${ttl}&mode=${mode}`,
                type: 'POST',
            }).done((data) => {
                location.reload(); 
            }).fail((xhr, status, error) => {
                $('#modal-errorCreate').show();
                $('#errorMsgCreate').text(xhr.responseText);
            });         
        }

    });

</script>
